{% extends "main.html" %}



{% block content %}
<style>
    .div-habitacion {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>


<!--Aqui es donde se va incluir el html de main.html-->
<div class="div-habitacion">
    <div>

    
    <p style="color: brown; font-weight: bold;">Usuario <span style="color: lightblue;">@{{room.host}}</span> dice ...</p>
    <p>Esta es la pagina de: {{room.nombre}}</p>

    <p>room.descripcion</p>

    <div class="caja-comentarios">
        <h3>Conversacion</h3>
        <hr>
        {% for mensaje in mensajes %}
            <div>
                {% if request.user == mensaje.usuario %}
                <a href="{% url 'eliminar-mensaje' mensaje.id %}">Eliminar</a>
                {% endif %}
                <small>@{{mensaje.usuario}}  hace {{mensaje.created|timesince}}</small>
                <p>{{mensaje.body}}</p>
                <hr>
            </div>
        {% endfor %}
    </div>

    {% if request.user.is_authenticated %}
    <div class="formulario-comentario">
        <form method="POST" action="">
            {% csrf_token %}
            <input type="text" name="body" placeholder="Pon tu comentario ..."><br>


        </form>
    </div>
    {% endif %}
    </div>


    <div>
        <h3>Participantes</h3>
        <hr>

        {% for participante in participantes %}
            <div>
                <p>@{{participante.username}}</p>
            </div>
        {% endfor %}
    </div>


</div>


{% endblock content %}